Repository moorhen-coot/Moorhen, pull requests merged in 2023-12, with the labels that each got.

#200 Add iris validation (devMode) and fix bug where 0 frames are requested in recentering animation
  baby-gru/package.json
  baby-gru/src/WebGLgComponents/mgWebGL.tsx
  baby-gru/src/components/modal/MoorhenValidationToolsModal.tsx
  baby-gru/src/components/validation-tools/MoorhenIrisValidation.tsx
  coot/moorhen-wrappers.cc
Labels: bug, moorhen-ui

#201 Add fit ligand anywhere and new UI for find ligand
  baby-gru/package.json
  baby-gru/src/components/MoorhenContainer.tsx
  baby-gru/src/components/menu-item/MoorhenFitLigandRightHereMenuItem.tsx
  baby-gru/src/components/misc/MoorhenModalsContainer.tsx
  baby-gru/src/components/modal/MoorhenFitLigandModal.tsx
  baby-gru/src/components/navbar-menus/MoorhenCalculateMenu.tsx
  baby-gru/src/components/navbar-menus/MoorhenEditMenu.tsx
  baby-gru/src/components/navbar-menus/MoorhenFileMenu.tsx
  baby-gru/src/components/navbar-menus/MoorhenHelpMenu.tsx
  baby-gru/src/components/navbar-menus/MoorhenLigandMenu.tsx
  baby-gru/src/components/navbar-menus/MoorhenNavBar.tsx
  baby-gru/src/store/MoorhenReduxStore.ts
  baby-gru/src/store/activeModalsSlice.ts
  baby-gru/src/types/main.d.ts
  baby-gru/src/types/moorhen.d.ts
  baby-gru/src/utils/MoorhenHistory.ts
  baby-gru/src/utils/MoorhenMap.ts
  baby-gru/src/utils/MoorhenMolecule.ts
  coot/moorhen-wrappers.cc
Labels: enhancement, moorhen-ui

#202 Iris validation
  baby-gru/package.json
  baby-gru/src/components/validation-tools/MoorhenIrisValidation.tsx
  baby-gru/vite.config.mts
Labels: enhancement, moorhen-ui

#207 Support of mmcif format when comunicating with libcoot api
  baby-gru/src/ErrorBoundary.tsx
  baby-gru/src/components/card/MoorhenMoleculeCard.tsx
  baby-gru/src/components/menu-item/MoorhenGetMonomerMenuItem.tsx
  baby-gru/src/components/menu-item/MoorhenImportLigandDictionary.tsx
  baby-gru/src/types/libcoot.d.ts
  baby-gru/src/types/main.d.ts
  baby-gru/src/types/moorhen.d.ts
  baby-gru/src/utils/MoorhenMolecule.ts
  baby-gru/src/utils/MoorhenTimeCapsule.ts
  baby-gru/src/utils/MoorhenUtils.ts
  baby-gru/tests/__tests__/integration.test.js
  baby-gru/tests/__tests__/moorhenMolecule.test.js
  baby-gru/tests/test_data/5a3h.mmcif
  coot/gemmi-wrappers.cc
  coot/moorhen-wrappers.cc
Labels: enhancement, moorhen-ui

#210 Test map contouring
  baby-gru/src/WebGLgComponents/mgWebGL.tsx
  baby-gru/tests/__tests__/gemmi.test.js
  baby-gru/tests/__tests__/molecules_container.test.js
  baby-gru/tests/__tests__/moorhenMap.test.js
Labels: enhancement, moorhen-ui

#211 Fix switch in find ligand menu
  baby-gru/src/components/modal/MoorhenFitLigandModal.tsx
  baby-gru/tests/__tests__/moorhenMap.test.js
Labels: bug, moorhen-ui

#212 Add `setZoomAnimated` to mgWebGL
  baby-gru/src/WebGLgComponents/mgWebGL.tsx
  baby-gru/src/components/card/MoorhenLigandCard.tsx
  baby-gru/src/components/menu-item/MoorhenCentreOnLigandMenuItem.tsx
  baby-gru/src/components/menu-item/MoorhenGoToMenuItem.tsx
  baby-gru/src/components/modal/MoorhenFitLigandModal.tsx
  baby-gru/src/components/modal/MoorhenValidationToolsModal.tsx
  baby-gru/src/components/validation-tools/MoorhenFillMissingAtoms.tsx
  baby-gru/src/components/validation-tools/MoorhenMMRRCCPlot.tsx
  baby-gru/src/components/validation-tools/MoorhenRamachandran.tsx
  baby-gru/src/components/validation-tools/MoorhenValidation.tsx
  baby-gru/src/components/validation-tools/MoorhenWaterValidation.tsx
  baby-gru/src/types/main.d.ts
  baby-gru/src/types/mgWebGL.d.ts
  baby-gru/src/types/moorhen.d.ts
  baby-gru/src/utils/MoorhenMolecule.ts
Labels: enhancement, moorhen-ui

#214 Enable change of colour from the residue selection menu
  baby-gru/src/components/misc/MoorhenResidueSelectionActions.tsx
Labels: enhancement, moorhen-ui

#215 Add B-Factor smoothing to gaussian surfaces
  baby-gru/package.json
  baby-gru/src/components/card/MoorhenMoleculeCard.tsx
  baby-gru/src/components/card/MoorhenMoleculeRepresentationSettingsCard.tsx
  baby-gru/src/types/main.d.ts
  baby-gru/src/types/moorhen.d.ts
  baby-gru/src/utils/MoorhenMolecule.ts
  baby-gru/src/utils/MoorhenMoleculeRepresentation.ts
Labels: enhancement, moorhen-ui

#216 Fix upload dictionaries with multiple ligands
  baby-gru/src/components/menu-item/MoorhenImportLigandDictionary.tsx
  baby-gru/src/types/libcoot.d.ts
  baby-gru/src/utils/MoorhenMolecule.ts
  coot/gemmi-wrappers.cc
Labels: bug, moorhen-ui

#217 Optionally normalise bfactors
  baby-gru/src/components/card/MoorhenAddCustomRepresentationCard.tsx
  baby-gru/src/components/card/MoorhenColourRuleCard.tsx
  baby-gru/src/components/card/MoorhenModifyColourRulesCard.tsx
  baby-gru/src/types/libcoot.d.ts
  baby-gru/src/types/main.d.ts
  baby-gru/src/types/moorhen.d.ts
  baby-gru/src/utils/MoorhenMolecule.ts
  baby-gru/src/utils/MoorhenUtils.ts
  baby-gru/tests/__tests__/moorhenMolecule.test.js
  coot/gemmi-wrappers.cc
Labels: enhancement, moorhen-ui

#218 Handle changes in focus of draggable modals
  baby-gru/public/baby-gru/moorhen.css
  baby-gru/src/components/modal/MoorhenControlsModal.tsx
  baby-gru/src/components/modal/MoorhenCreateAcedrgLinkModal.tsx
  baby-gru/src/components/modal/MoorhenDraggableModalBase.tsx
  baby-gru/src/components/modal/MoorhenFindLigandModal.tsx
  baby-gru/src/components/modal/MoorhenMapsModal.tsx
  baby-gru/src/components/modal/MoorhenModelsModal.tsx
  baby-gru/src/components/modal/MoorhenQuerySequenceModal.tsx
  baby-gru/src/components/modal/MoorhenScriptModal.tsx
  baby-gru/src/components/modal/MoorhenValidationToolsModal.tsx
  baby-gru/src/store/activeModalsSlice.ts
  baby-gru/src/types/moorhen.d.ts
  baby-gru/src/utils/MoorhenUtils.ts
Labels: enhancement, moorhen-ui

#219 New options for residue selections and new fit_ligand_info_t
  baby-gru/public/baby-gru/CootWorker.ts
  baby-gru/src/components/form/MoorhenCidInputForm.tsx
  baby-gru/src/components/menu-item/MoorhenCreateSelectionMenuItem.tsx
  baby-gru/src/components/misc/MoorhenResidueSelectionActions.tsx
  baby-gru/src/components/navbar-menus/MoorhenEditMenu.tsx
  baby-gru/src/store/generalStatesSlice.ts
  baby-gru/src/types/libcoot.d.ts
  baby-gru/src/types/main.d.ts
  baby-gru/src/types/moorhen.d.ts
  baby-gru/src/utils/MoorhenMolecule.ts
  baby-gru/tests/__tests__/moorhenMolecule.test.js
  coot/moorhen-wrappers.cc
Labels: enhancement, moorhen-ui

#220 Add rotate/translate to residue selection menu and add ATOM option again.
  baby-gru/src/components/button/MoorhenRotateTranslateZoneButton.tsx
  baby-gru/src/components/menu-item/MoorhenCreateSelectionMenuItem.tsx
  baby-gru/src/components/misc/MoorhenAcceptRejectRotateTranslate.tsx
  baby-gru/src/components/misc/MoorhenResidueSelectionActions.tsx
  baby-gru/src/types/libcoot.d.ts
  baby-gru/src/utils/MoorhenMolecule.ts
  coot/gemmi-wrappers.cc
  coot/moorhen-wrappers.cc
Labels: enhancement, moorhen-ui, refactor

#221 Add drag atoms to residue selection menu
  baby-gru/src/components/button/MoorhenDragAtomsButton.tsx
  baby-gru/src/components/misc/MoorhenAcceptRejectDragAtoms.tsx
  baby-gru/src/components/misc/MoorhenResidueSelectionActions.tsx
Labels: enhancement, moorhen-ui

#222 Add UI for cheme. comp. info and more tests
  baby-gru/public/baby-gru/CootWorker.ts
  baby-gru/src/WebGLgComponents/mgWebGL.tsx
  baby-gru/src/components/card/MoorhenAddCustomRepresentationCard.tsx
  baby-gru/src/components/card/MoorhenLigandCard.tsx
  baby-gru/src/components/card/MoorhenMoleculeCard.tsx
  baby-gru/src/components/card/MoorhenMoleculeRepresentationSettingsCard.tsx
  baby-gru/src/components/list/MoorhenLigandList.tsx
  baby-gru/src/types/moorhen.d.ts
  baby-gru/tests/__tests__/molecules_container.test.js
  baby-gru/tests/__tests__/moorhenMolecule.test.js
  baby-gru/tests/test_data/MOI.restraints.cif
Labels: enhancement, moorhen-ui

#223 Use molecule to string methods from libcoot in `getAtoms`
  baby-gru/src/utils/MoorhenMolecule.ts
  baby-gru/tests/__tests__/molecules_container.test.js
  baby-gru/tests/__tests__/moorhenMolecule.test.js
  coot/moorhen-wrappers.cc
Labels: moorhen-ui, refactor
