Repository moorhen-coot/Moorhen, pull requests merged in 2024-03, with the labels that each got.

#347 Fix nightly tests
  .github/workflows/install-cache.yml
  .github/workflows/nightly-tests.yml
  .gitignore
  baby-gru/tests/__tests__/molecules_container.test.js
  baby-gru/tests/__tests__/moorhenMolecule.test.js
Labels: moorhen-ui, tests

#349 Fix background image used in rama plots to match outliers more closely
  .github/workflows/install-cache.yml
  .github/workflows/nightly-tests.yml
  baby-gru/public/baby-gru/pixmaps/rama2_all.png
Labels: bug, moorhen-ui

#357 Add MoorhenColourRule and other changes
  baby-gru/src/components/card/MoorhenAddCustomRepresentationCard.tsx
  baby-gru/src/components/card/MoorhenModifyColourRulesCard.tsx
  baby-gru/src/components/card/MoorhenMoleculeCard.tsx
  baby-gru/src/components/form/MoorhenFetchOnlineSourcesForm.tsx
  baby-gru/src/components/misc/MoorhenResidueSelectionActions.tsx
  baby-gru/src/components/modal/MoorhenQuerySequenceModal.tsx
  baby-gru/src/types/main.d.ts
  baby-gru/src/types/moorhen.d.ts
  baby-gru/src/utils/MoorhenColourRule.tsx
  baby-gru/src/utils/MoorhenMolecule.ts
  baby-gru/src/utils/MoorhenMoleculeRepresentation.ts
  baby-gru/src/utils/MoorhenTimeCapsule.ts
  baby-gru/src/utils/MoorhenUtils.ts
  wasm_src/moorhen-wrappers.cc
Labels: enhancement, moorhen-ui, refactor

#358 Add minimize energy to the UI
  baby-gru/src/components/menu-item/MoorhenMinimizeEnergyMenuItem.tsx
  baby-gru/src/components/menu-item/MoorhenRandomJiggleBlurMenuItem.tsx
  baby-gru/src/components/navbar-menus/MoorhenLigandMenu.tsx
Labels: enhancement, moorhen-ui

#359 Add refinement restraints settings
  baby-gru/src/components/menu-item/MoorhenRefinementSettingsMenuItem.tsx
  baby-gru/src/components/navbar-menus/MoorhenPreferencesMenu.tsx
  baby-gru/src/store/generalStatesSlice.ts
  baby-gru/src/types/moorhen.d.ts
Labels: enhancement, moorhen-ui

#360 Add slice-n-dice UI
  baby-gru/src/components/misc/MoorhenModalsContainer.tsx
  baby-gru/src/components/modal/MoorhenSliceNDiceModal.tsx
  baby-gru/src/components/navbar-menus/MoorhenCalculateMenu.tsx
  baby-gru/src/store/activeModalsSlice.ts
  baby-gru/src/types/moorhen.d.ts
Labels: enhancement, moorhen-ui

#361 Add Pop Out Modal Support
  baby-gru/src/components/modal/MoorhenDraggableModalBase.tsx
Labels: enhancement, moorhen-ui

#362 Make golden balls work with symmetry
  baby-gru/src/WebGLgComponents/mgWebGL.tsx
  baby-gru/src/types/moorhen.d.ts
  baby-gru/src/utils/MoorhenMolecule.ts
  baby-gru/src/utils/MoorhenMoleculeRepresentation.ts
Labels: enhancement, moorhen-ui

#369 Updates to slice-n-dice and minimize_energy
  baby-gru/src/components/form/MoorhenFetchOnlineSourcesForm.tsx
  baby-gru/src/components/menu-item/MoorhenGetMonomerMenuItem.tsx
  baby-gru/src/components/menu-item/MoorhenMinimizeEnergyMenuItem.tsx
  baby-gru/src/components/modal/MoorhenSliceNDiceModal.tsx
  baby-gru/src/types/main.d.ts
  baby-gru/src/types/moorhen.d.ts
  baby-gru/src/utils/MoorhenMolecule.ts
  wasm_src/moorhen-wrappers.cc
Labels: bug, enhancement, moorhen-ui, slice-n-dice

#370 Add `reContourMapOnlyOnMouseUp` to preferences
  baby-gru/src/WebGLgComponents/mgWebGL.tsx
  baby-gru/src/components/misc/MoorhenPreferencesContainer.tsx
  baby-gru/src/components/navbar-menus/MoorhenPreferencesMenu.tsx
  baby-gru/src/components/webMG/MoorhenWebMG.tsx
  baby-gru/src/store/mapContourSettingsSlice.ts
  baby-gru/src/types/moorhen.d.ts
  baby-gru/src/utils/MoorhenPreferences.ts
Labels: enhancement, moorhen-ui

#371 Change refinement default selection dynamically depending on the input map
  baby-gru/src/components/MoorhenContainer.tsx
  baby-gru/src/components/button/MoorhenContextButtonBase.tsx
  baby-gru/src/components/button/MoorhenDragAtomsButton.tsx
  baby-gru/src/components/button/MoorhenRefineResiduesButton.tsx
  baby-gru/src/components/menu-item/MoorhenMapContourSettingsMenuItem.tsx
  baby-gru/src/components/menu-item/MoorhenRefinementSettingsMenuItem.tsx
  baby-gru/src/components/misc/MoorhenPreferencesContainer.tsx
  baby-gru/src/components/misc/MoorhenResidueSelectionActions.tsx
  baby-gru/src/components/modal/MoorhenFindLigandModal.tsx
  baby-gru/src/components/navbar-menus/MoorhenPreferencesMenu.tsx
  baby-gru/src/components/validation-tools/MoorhenFillMissingAtoms.tsx
  baby-gru/src/components/validation-tools/MoorhenPepflipsDifferenceMap.tsx
  baby-gru/src/moorhen.ts
  baby-gru/src/store/MoorhenReduxStore.ts
  baby-gru/src/store/generalStatesSlice.ts
  baby-gru/src/store/miscAppSettingsSlice.ts
  baby-gru/src/store/refinementSettingsSlice.ts
  baby-gru/src/types/moorhen.d.ts
Labels: enhancement, moorhen-ui

#373 Fix bug with "Find ligand" and long ligand names
  baby-gru/src/components/modal/MoorhenFindLigandModal.tsx
  baby-gru/src/moorhen.ts
  baby-gru/src/types/main.d.ts
  wasm_src/moorhen-wrappers.cc
Labels: bug, moorhen-ui

#374 Add PAE clustering to Slice-n-Dice UI
  baby-gru/src/components/modal/MoorhenSliceNDiceModal.tsx
Labels: enhancement, moorhen-ui, slice-n-dice

#380 Fix long labels for custom representations and apply colour to non-carbon atoms and other fixes
  baby-gru/src/components/card/MoorhenAddCustomRepresentationCard.tsx
  baby-gru/src/components/card/MoorhenMoleculeCard.tsx
  baby-gru/src/components/card/cardUtils.tsx
  baby-gru/src/components/menu-item/MoorhenImportLigandDictionary.tsx
  baby-gru/src/components/menu-item/MoorhenMapContourSettingsMenuItem.tsx
  baby-gru/src/components/modal/MoorhenFindLigandModal.tsx
  baby-gru/src/components/modal/MoorhenSceneSettingsModal.tsx
  baby-gru/src/components/modal/MoorhenSliceNDiceModal.tsx
  baby-gru/src/components/navbar-menus/MoorhenViewMenu.tsx
  baby-gru/src/types/main.d.ts
  baby-gru/src/types/moorhen.d.ts
  baby-gru/src/utils/MoorhenMolecule.ts
  baby-gru/src/utils/MoorhenPreferences.ts
  baby-gru/tests/__tests__/molecules_container.test.js
  baby-gru/tests/__tests__/moorhenMap.test.js
  baby-gru/tests/__tests__/moorhenMolecule.test.js
  baby-gru/tests/__tests__/sliceNDice.test.js
Labels: bug, moorhen-ui

#381 Use protobuf to store moorhen session files and other improvements to session handling
  .github/workflows/tsc-compilation.yml
  .gitignore
  baby-gru/package.json
  baby-gru/src/components/navbar-menus/MoorhenFileMenu.tsx
  baby-gru/src/components/navbar-menus/MoorhenHistoryMenu.tsx
  baby-gru/src/moorhen.ts
  baby-gru/src/protobuf/MoorhenSession.proto
  baby-gru/src/types/main.d.ts
  baby-gru/src/types/moorhen.d.ts
  baby-gru/src/utils/MoorhenTimeCapsule.ts
  baby-gru/src/utils/MoorhenUtils.ts
Labels: bug, enhancement, moorhen-ui
