Repository moorhen-coot/Moorhen, pull requests merged in 2024-05, with the labels that each got.

#390 Add option to search monomers by name
  baby-gru/package.json
  baby-gru/public/baby-gru/CootWorker.ts
  baby-gru/src/components/menu-item/MoorhenGetMonomerMenuItem.tsx
  baby-gru/src/types/libcoot.d.ts
  baby-gru/tests/__tests__/gemmi.test.js
  wasm_src/gemmi-wrappers.cc
Labels: enhancement, moorhen-ui

#397 Add SVG and tooltips to search results when searching ligands by name
  baby-gru/src/components/button-bar/MoorhenMoleculeCardButtonBar.tsx
  baby-gru/src/components/menu-item/MoorhenGetMonomerMenuItem.tsx
Labels: enhancement, moorhen-ui

#398 Add screenshot manager
  baby-gru/src/components/MoorhenContainer.tsx
  baby-gru/src/components/menu-item/MoorhenGetMonomerMenuItem.tsx
  baby-gru/src/components/navbar-menus/MoorhenFileMenu.tsx
  baby-gru/src/components/snack-bar/MoorhenScreenshotSnackBar.tsx
  baby-gru/src/types/moorhen.d.ts
  baby-gru/src/utils/MoorhenKeyboardPress.ts
  baby-gru/src/utils/MoorhenScreenRecorder.ts
Labels: enhancement, moorhen-ui

#399 Add header information to the UI
  baby-gru/public/baby-gru/CootWorker.ts
  baby-gru/src/components/button-bar/MoorhenMoleculeCardButtonBar.tsx
  baby-gru/src/components/card/MoorhenHeaderInfoCard.tsx
  baby-gru/src/components/card/MoorhenMoleculeCard.tsx
  baby-gru/src/components/card/MoorhenMoleculeRepresentationSettingsCard.tsx
  baby-gru/src/components/menu-item/MoorhenSuperposeMenuItem.tsx
  baby-gru/src/components/misc/MoorhenModalsContainer.tsx
  baby-gru/src/components/modal/MoorhenSuperposeResultsModal.tsx
  baby-gru/src/components/modal/MoorhenSuperposeStructuresModal.tsx
  baby-gru/src/components/navbar-menus/MoorhenCalculateMenu.tsx
  baby-gru/src/store/activeModalsSlice.ts
  baby-gru/src/types/libcoot.d.ts
  baby-gru/src/types/moorhen.d.ts
  baby-gru/src/utils/MoorhenMolecule.ts
  wasm_src/moorhen-wrappers.cc
Labels: enhancement, moorhen-ui

#400 Handle transparent colour rules
  baby-gru/public/baby-gru/CootWorker.ts
  baby-gru/src/components/card/MoorhenColourRuleCard.tsx
  baby-gru/src/components/card/MoorhenMapCard.tsx
  baby-gru/src/components/card/MoorhenModifyColourRulesCard.tsx
  baby-gru/src/components/card/MoorhenMoleculeCard.tsx
  baby-gru/src/components/modal/MoorhenSceneSettingsModal.tsx
  baby-gru/src/types/libcoot.d.ts
  baby-gru/src/types/moorhen.d.ts
  baby-gru/src/utils/MoorhenColourRule.tsx
  baby-gru/src/utils/MoorhenMoleculeRepresentation.ts
Labels: enhancement, moorhen-ui

#402 Add LSQKB superpose to the UI
  baby-gru/src/components/menu-item/MoorhenChangeChainIdMenuItem.tsx
  baby-gru/src/components/menu-item/MoorhenDeleteDisplayObjectMenuItem.tsx
  baby-gru/src/components/misc/MoorhenSequenceRangeSlider.tsx
  baby-gru/src/components/modal/MoorhenSuperposeStructuresModal.tsx
  baby-gru/src/components/snack-bar/MoorhenResidueSelectionSnackBar.tsx
  baby-gru/src/types/moorhen.d.ts
  baby-gru/src/utils/MoorhenMolecule.ts
Labels: enhancement, moorhen-ui

#403 Extend build script for lhasa
  VERSIONS
  get_sources
  moorhen_build.sh
  slicendice_cpp/CMakeLists.txt
  wasm_src/CMakeLists.txt
Labels: lhasa

#404 Enable mol. symm. colouring in custom representations and other fixes
  baby-gru/src/components/card/MoorhenAddCustomRepresentationCard.tsx
  baby-gru/src/components/card/MoorhenColourRuleCard.tsx
  baby-gru/src/components/modal/MoorhenSuperposeStructuresModal.tsx
  baby-gru/src/utils/MoorhenUtils.ts
Labels: bug, enhancement, moorhen-ui
